    <div class='container'>
<!-- font-family: 'Source Serif Pro', serif;
 -->   
        <h1 class='header'>Beth Fergon Jewelry</h1>
        <div class='img-container'>
		      <img class='img-calm' src='img/KeepCalmUnderConstruction.png'>
		    </div>
        <h2>Pardon Our Appearance, we are improving our website.</h2>
        <h3>In the meantime you can view Beth's jewelry on <a class="link" href="https://www.etsy.com/shop/BethFergonJewelry">Etsy</a></h3>
        <h3>2015 Upcoming Shows:</h3>
        <p>Pacific Grove Art Center Gallery</p>
				<p>Holiday Boutique</p>
				<p><strong>Open November 6 - December 17, 2015</strong></p>
				<p>568 Lighthouse Ave, Pacific Grove, CA</p>
				<p>831-375-2208</p>
        <br>
				<p>45th Annual Carmel Homecrafters Marketplace</p>
				<p><strong>Saturday, November 21, 2015 9am - 3pm</strong></p>
				<p>Sunset Center Parking Lot at 8th and San Carlos, Carmel, CA</p>
				<p>Rain or Shine</p>
        <br>
				<p>2nd Annual <a href="Mlartscrafts.com">Moss Landing Arts and Crafts Holiday Gift Sale</a></p>
				<p><strong>Saturday, November 28, 2015 10am - 4 pm</strong></p>
				<p>10942 Pieri Court, Moss Landing (turn west at Moss Landing Cafe, near liquor store), CA</p>
				<p><a href='Facebook.com/mlartscrafts'>Visit on Facebook</a></p>
        <br>
				<p>Beth Fergon Jewelry Trunk Show</p>
				<p>Euphoria Salon and Spa</p>
				<p><strong>Friday, December 4, 2015 11am - 3pm</strong></p>
				<p>499 Pacific St (corner of Jefferson and Pacific), Montery, CA</p>
        <br>
        <h3>Contact: <a href="mailto:Beth@BethFergonJewelry.com">Beth@BethFergonJewelry.com</a></h3>
    </div>
