    <div class='container'>
<!-- font-family: 'Source Serif Pro', serif;
 -->   
        <h1 class='header'>Beth Fergon Jewelry</h1>
        <div class='img-container'>
		      <img class='img-calm' src='img/KeepCalmUnderConstruction.png'>
		    </div>
        <h2>Pardon Our Appearance, we are improving our website.</h2>
        <!-- <h3>In the meantime you can view Beth's jewelry on <a class="link" href="https://www.etsy.com/shop/BethFergonJewelry">Etsy</a></h3> -->
        <hr>
        <h3>Beth's jewelry is currently available at the following locations:</h3>
            <p><strong>Big Sur Coast Gallery</strong></p>
            <p>49901 Hwy 1, Big Sur, Ca. </p>
            <p>831-667-2301</p>
            <br>
            <p><strong>Face First Laser Clinic</strong></p>
            <p>550 Wave St, Monterey, Ca.</p>
            <p>831-375-9555</p>
            <br>
        <h3>Upcoming Shows:</h3>
			<p><strong>Saturday, August 13, 2016, 12:00pm-4:00pm</strong></p>
            <p>Salinas Valley Food and Wine Festival</p>
            <p>Main St, downtown Salinas</p>
            <p><a href="Salinasvalleyfoodandwine.com"></a>Salinasvalleyfoodandwine.com</p>
            <br>
            <p><strong>Friday, October 21, 2016, 11:00am-3:00pm</strong></p>
            <p>Trunk Show</p>
            <p>Euphoria Lounge Salon and Spa</p>
            <p>499 Pacific St. (Corner of Pacific and Jefferson)</p>
            <p>Monterey</p>
            <br>
            <p><strong>Sunday, November 6, 2016, 12:00pm-3:30pm</strong></p>
            <p>Friends of Monterey Public Library</p>
            <p>"Books in Bloom" Luncheon</p>
            <p>Monterey Plaza Hotel</p>
            <p>400 Cannery Row, Monterey</p>
            <br>
            <p><strong>Saturday, November 19, 2016, 9:00am-3:00pm</strong></p>
            <p>Carmel Homecrafters Marketplace</p>
            <p>Sunset Center parking lot</p>
            <p>Corner of Mission and 8th streets</p>
            <p>Carmel</p>
            <br>
            <p><strong>Saturday, November 26, 2016, 10:00am-4:00pm</strong></p>
            <p>3rd Annual Moss Landing Arts & Crafts Holiday Gift Show</p>
            <p>Nancy Russell Studio & Gardens</p>
            <p>10942 Pieri Court, Moss Landing</p>
            <p><a href="www.mlartscrafts.com">www.mlartscrafts.com</a></p>
        <h3>Contact: <a href="mailto:Beth@BethFergonJewelry.com">Beth@BethFergonJewelry.com</a></h3>
    </div>