    <div class='container'>
<!-- font-family: 'Source Serif Pro', serif;
 -->   
        <h1 class='header'>Beth Fergon Jewelry</h1>
        <!-- <img class='calmImg' src='img/KeepCalmUnderConstruction.png'> -->

        <h2>Pardon Our Appearance, we are improving our website.</h2>
        <h3>In the meantime you can view Beth's jewelry on <a href="https://www.etsy.com/shop/BethFergonJewelry">Etsy</a> or visit one of her upcoming shows.</h3>
        <h3>Upcoming Shows:</h3>
        <p>Show 1<p>
        <p>Location</p>
        <p>Date</p>
        <br>
        <p>Show 1<p>
        <p>Location</p>
        <p>Date</p>
        <br>
        <h3>Contact Beth directly at <a href="mailto:Beth@BethFergonJewelry.com">Beth@BethFergonJewelry.com</a></h3>
    </div>
